<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxg.weChat.crm.mapper.PlanActivityMapper">

    <select id="getPlanDoAdminList" resultType="com.cxg.weChat.crm.pojo.WxAdminInfoDo">
        select *
        from (select row_.*, rownum rownum_
        from (select p.id,
        p.plan_id planId,
        p.plan_title planTitle,
        p.plan_address planAddress,
        p.plan_start_date planStartDate,
        p.plan_end_date planEndDate,
        t.open_id openId,
        t.nick_name nickName,
        t.avatar_url avatarUrl,
        t.sign_address signAddress,
        t.sign_date signDate
        from market.market_wx_admin_info t
        left join market.market_tb_plan_activity p on t.activity_id = to_char(p.id)
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
            <if test="planEndDate == null and planEndDate == ''">and t.status in ('N','Y')</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by t.id desc
            </otherwise>
        </choose>
        ) row_
        where rownum &lt;= ${limit})
        where rownum_ &gt; ${offset}
    </select>

    <select id="countPlanAdminData" resultType="java.lang.Integer">
        select COUNT (*)
        from market.market_wx_admin_info t
        left join market.market_tb_plan_activity p on t.activity_id = to_char(p.id)
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
        </where>
    </select>

    <select id="getPlanListCount" parameterType="com.cxg.weChat.crm.pojo.PlanActivityDo" resultType="java.lang.Integer">
        select count(distinct(t.open_id))
        from market.market_wx_user_info t
        left join market.market_tb_plan_activity p on t.activity_id = p.id
        <where>
            p.plan_id is not null
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date &gt;= #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_start_date &lt;=  #{planStartDate}</if>
            <if test="status == null and status == ''">and t.status = 'Y'</if>
            <if test="status == '已参加'">and t.status = 'Y'</if>
            <if test="status == '未参加'">and t.status = 'N'</if>
        </where>
    </select>

    <!-- 注意oracle和mysql的分页是不一样的 -->
    <select id="getPlanList" resultType="com.cxg.weChat.crm.pojo.PlanActivityDo">
        select *
        from (select row_.*, rownum rownum_
        from (select distinct (t.open_id) openId,
        p.id,
        p.plan_id planId,
        p.plan_title planTitle,
        p.plan_address planAddress,
        p.plan_start_date planStartDate,
        p.plan_end_date planEndDate,
        t.nick_name nickName,
        t.avatar_url avatarUrl,
        case (t.status)
        when 'N' then
        '未核销'
        when 'Y' then
        '已核销'
        end status,
        case (tt.brand)
        when 'X' then
        '香飘飘'
        when 'G' then
        'MECO'
        when 'L' then
        '兰芳园'
        end brand,
        m.maktx02 matnr02,
        mm.maktx matnr,
        p.plan_num planNum,
        t.create_time createTime
        from market.market_wx_user_info t
        left join market.market_tb_plan_activity p on t.activity_id = p.id
        left join market.market_tb_terminal_total tt on tt.plan_id=p.plan_id
        left join (select distinct(t.matnr02),t.maktx02 from basis.basis_tb_materiel t) m on p.matnr02 = m.matnr02
        left join basis.basis_tb_materiel mm on mm.matnr=p.matnr
        <where>
            p.plan_id is not null
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date &gt;= #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_start_date &lt;=  #{planStartDate}</if>
            <if test="status == null and status == ''">and t.status = 'Y'</if>
            <if test="status == '已核销'">and t.status = 'Y'</if>
            <if test="status == '未核销'">and t.status = 'N'</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by p.plan_id desc
            </otherwise>
        </choose>
        ) row_
        where rownum &lt;= ${limit})
        where rownum_ &gt; ${offset}
    </select>

    <select id="countPlanData" resultType="java.lang.Integer">
        select COUNT(distinct(t.open_id))
        from market.market_wx_user_info t
        left join market.market_tb_plan_activity p on t.activity_id = p.id
        <where>
            p.plan_id is not null
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date &gt;= #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_start_date &lt;=  #{planStartDate}</if>
            <if test="status == null and status == ''">and t.status = 'Y')</if>
            <if test="status == '已核销'">and t.status = 'Y'</if>
            <if test="status == '未核销'">and t.status = 'N'</if>
        </where>
    </select>

    <select id="getPlanPhotoList" resultType="com.cxg.weChat.crm.pojo.WxPlanPhotoDo">
        select *
        from (select row_.*, rownum rownum_
        from (select p.id,
        p.plan_id planId,
        p.plan_title planTitle,
        p.plan_address planAddress,
        p.plan_start_date planStartDate,
        p.plan_end_date planEndDate,
        pp.openid openId,
        a.nick_name nickName,
        a.avatar_url avatarUrl,
        pp.photo_url photoUrl,
        pp.creart_date creartDate
        from market.markrt_wx_plan_photo pp
        left join market.market_tb_plan_activity p on p.id = pp.ACTIVITY_ID
        left join (select distinct (t.activity_id) activity_id,
                    t.open_id,
                    t.nick_name,
                    t.avatar_url
                  from market.market_wx_admin_info t) a on (a.open_id =
                                                    pp.openid and
                                                    a.activity_id =
                                                    pp.ACTIVITY_ID)
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
            <if test="planEndDate == null and planEndDate == ''">and t.status in ('N','Y')</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by pp.creart_date desc
            </otherwise>
        </choose>
        ) row_
        where rownum &lt;= ${limit})
        where rownum_ &gt; ${offset}
    </select>

    <select id="countPlanPhotoData" resultType="java.lang.Integer">
        select COUNT (*)
        from market.markrt_wx_plan_photo pp
        left join market.market_tb_plan_activity p on p.id = pp.ACTIVITY_ID
        left join (select distinct (t.activity_id) activity_id,
        t.open_id,
        t.nick_name,
        t.avatar_url
        from market.market_wx_admin_info t) a on (a.open_id =
        pp.openid and
        a.activity_id =
        pp.ACTIVITY_ID)
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
        </where>
    </select>

</mapper>