<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>呼朋唤友喝Meco 组队开黑真朋友</title>
</head>
<head th:include="include :: header"></head>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('showOptionMenu');
    });
</script>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12" style="min-height: 0px">
            <div class="ibox-content">
                <div>
                    <div class="col-sm-12">
                        <p><img class="img-responsive center-block" src="http://exp.zjxpp.com:8186/upload_file/plan/mecoIndex.png" /></p>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <blockquote style="margin: 0 0 0">
                                <p style="color: #e28b41">
                                    <span>呼朋唤友喝Meco 组队开黑真朋友</span>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0;padding-left: 15px;panel-heading:#FFFFFF !important; border-color: #FFFFFF;">
                    <div class="panel-body">
                        <span>Meco蜜谷•果汁茶携手无限王者团的小哥哥们，今日给你们送福利啦！</span>
                    </div>
                    <div class="panel-body">
                        <span>Meco果汁茶，真茶真果汁，好喝到不行。</span>
                    </div>
                    <div class="panel-body">
                        <span>如果你是茶控？如果你是果汁控？</span>
                    </div>
                    <div class="panel-body">
                        <span>那么Meco 蜜谷果汁茶，纯正果汁+现萃茶底，给你献上真材实料。</span>
                    </div>
                    <div class="panel-body">
                        <span>果真好喝~</span>
                    </div>
                    <div class="panel-body">
                        <span>对！对！对！Meco蜜谷•果汁茶无限王者团限定款，还可以扫码赢王者皮肤呢~</span>
                    </div>
                    <div class="panel-body">
                        <span>PS：在杯身提示在“揭开”处，揭开后，微信扫描背后二维码，进入后台小程序可与男神互动，赢王者荣耀英雄皮肤！</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
</html>