<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>新品测试推广</title>
</head>
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row" style="margin-right: -10px;margin-left: -10px;">
        <div class="col-sm-12" style="padding-right:0px; padding-left: 0px">
            <div class="ibox-content">
                <div>
                    <div class="col-sm-12" style="padding-right: 0px; padding-left: 0px">
                        <div id="wxOpenInAPP" class="wexin-launch-btn" v-show="isOK"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<!--引入微信js文件-->
<script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<!--首页展示js文件-->
<script src="/js/appjs/webapp.js" th:src="@{/js/appjs/mecoIndex.js}"></script>
</body>
</html>