<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title th:text="${planActivityDo.planTitle}"></title>
    <style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input{
            position:absolute;
            right: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }
    </style>
</head>
<head th:include="include :: header"></head>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12" style="min-height: 0px">
            <div class="ibox-content">
                <input id="id" name="id" type="hidden" th:value="${planActivityDo.id}">
                <input id="planId" name="planId" type="hidden" th:value="${planActivityDo.planId}">
                <input id="openId" name="openId" type="hidden" th:value="${planActivityDo.openId}">
                <div>
                    <div class="col-sm-12">
                        <p><img class="img-responsive center-block" th:src="${planActivityDo.planPhotoUrl}" /></p>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <blockquote style="margin: 0 0 0">
                                <p style="color: #e28b41">
                                    <span th:text="${planActivityDo.planTitle}"></span>
                                </p>
                                <small style="color: #030303">
                                    <span th:text="${planActivityDo.planAddress}"></span>
                                </small>
                            </blockquote>
                        </div>
                        <div class="span12">
                            <address style="color: #8a1f11; margin: 0 0 0">
                                <label class="col-sm-12 control-label">活动时间:</label>
                                <span th:text="${planActivityDo.planStartDate}"></span>
                                到
                                <span th:text="${planActivityDo.planEndDate}"></span>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0;padding-left: 15px;panel-heading:#FFFFFF !important; border-color: #FFFFFF;">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="color: #030303">活动说明</h4>
                    </div>
                    <div class="panel-body">
                        <span th:text="${planActivityDo.planExplain}"></span>
                    </div>
                    <div class="panel-heading">
                        <h4 class="panel-title" style="color: #030303;">领取说明</h4>
                    </div>
                    <div class="panel-body">
                        <span th:text="${planActivityDo.planGetExplain}"></span>
                    </div>
                    <div class="panel-heading">
                        <h4 class="panel-title" style="color: #030303;">转发链接</h4>
                    </div>
                    <div class="panel-body">
                        <a href="https://mp.weixin.qq.com/s/5a5M1rCX6oWEBgefW88pVw">点击此处，转发链接至朋友圈>>></a>
                    </div>
                </div>
                <div class="text-center" style="color: #fe2439">
                    <p style="margin: 0 0 0;">请到现场管理员处扫码核销</p>
                </div>
                <div class="caption" style="padding-left: 10%">
                    <div class="container" style="padding-left: 30%">
                        <div class="poster-qrcode" style="padding-right: 50%"></div>
                    </div>
                    <div style="color: #8a1f11;padding-left: 43%">
                        <p style="margin: 0 0 0;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://libs.baidu.com/jquery/1.7.0/jquery.min.js"></script>
<script src="/static/js/jquery.qrcode.min.js" th:src="@{/static/js/jquery.qrcode.min.js}"></script>
<script src="/js/plugins/layer/layer.min.js" th:src="@{/js/plugins/layer/layer.min.js}"></script>
<!--引入微信js文件-->
<script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<!--首页展示js文件-->
<script src="/js/appjs/webapp.js" th:src="@{/js/appjs/webapp.js}"></script>
</body>
</html>